@model Product

<div class="row">
    <form method="post" class="col-6 mt-2">
        <input type="hidden" name="ProductId" value="@Model.ProductId">
        <div class="form-grup mb-3">
            <label for="name" class="mb-2">Name</label>
            <input asp-for="Name" value="@Model.Name" class="form-control mb-3">
        </div>

        <div class="form-grup mb-3">
            <label for="Price" class="mb-2">Price</label>
            <input asp-for="Price" value="@Model.Price" class="form-control mb-3">
        </div>

        <div class="form-grup mb-3">
            <label for="Description" class="mb-2">Description</label>
            <textarea asp-for="Description" value="@Model.Description" class="form-control mb-3"></textarea>
        </div>

        <div class="form-grup mb-3">
            <label for="ImageUrl" class="mb-2">ImageUrl</label>
            <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control mb-3">
        </div>

        <div class="form-grup" mb-3>
            <label for="CategoryId" class="mb-2">CategoryId</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control mb-3">
                <option selected disabled>Seçiniz</option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="col-6">
        <div class="mx-5 mt-5">
            <label>Benim naçiz vücudum elbet bir gün toprak olacaktır</label>
            <br />
            <label> Ancak</label>
            <br />
            <label>Türkiye Cumhuriyeti ilelebet payidar kalacaktır.</label>
        </div>
        <div class="mx-5 mt-5">
            <label>Zafer, "Zafer benimdir" diyebilenindir.</label>
            <br />
            <label>Başarı ise, "Başaracağım" diye başlayarak sonunda "Başardım" diyebilenindir. </label>
        </div>
        <div class="mx-5 mt-5">
            <label>MUSTAFA KEMAL ATATÜRK</label>
        </div>
    </div>
</div>